
{% extends 'base.html' %}

{% block title %}To-Do-List{% endblock %}
{% load static %}

{% block content %}
<div class="container">



{% if messages %}

      {% for message in messages %}
        <br>
        <!-- alert box section start -->
         <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        <!-- alert box section end -->
   {% endfor %}

{% endif %}
    {%if wv_main_items %}
    <div class="row mb3">
      {% for things in wv_main_items %}

      <div class="col-md-4 mb-3">
        <div class="card h-100">
          <a href="{% url 'wv_daily_submission' things.id %}" class="btn btn-primary">{{ things.CD_Site }}</a>
          <div class="card-body">
              <label>ID</label><p class="card-text form-control">{{ things.id }}</p>
              <label>Site Supervisor</label><p class="card-text form-control">{{ things.TX_Site_Supervisor }}</p>
              <label>Site Design In Charge</label><p class="card-text form-control">{{ things.TX_Site_In_charge_Design }}</p>
              <label>Site QS In Charge</label><p class="card-text form-control">{{ things.TX_Site_In_charge_QS }}</p>
              <label>Site Manager</label><p class="card-text form-control">{{ things.TX_Site_Manager }}</p>
              <label>Site Construction Manager</label><p class="card-text form-control">{{ things.TX_Construction_Manager }}</p>
          </div>
          <div class="card-footer">
              <p class="card-text">Created Date : {{ things.created_date }}</p>
              <p class="card-text">Modified Date: {{ things.modified_date }}</p>
            <a href="{% url 'wv_daily_submission' things.id %}" class="btn btn-primary">Click</a>
          </div>
        </div>
          <br>
      </div>


        {% endfor %}
    </div>
   {% endif %}
</div>

{% endblock %}